<section expanded>
    <header class="accordion-header">
        <h4 class="accordion-title">IN-<%= model %> HD</h4>
    </header>
    <div class="accordion-content">
      <ul>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/">Overview</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Product_Features">Features</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Technical_Specifications">Technical Specifications</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Usermanual/">User Manual</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Quick_Installation">Camera Installation</a>
        </li>
        <li>
            <a href="/Web_User_Interface/<%= series %>_Series/" target="_blank">Web User Interface</a>
        </li>
        <li>
            <a href="/Quick_Installation/WebUI_And_Firmware_Upgrade" target="_blank">Software Update</a>
        </li>
        <li>
            <a href="/Downloads/<%= type %>_Cameras/IN-<%= model %>_HD" target="_blank">Downloads</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Video_Streaming">Video Streaming</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Camera_Reset">Reset your Camera</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Lense_Adjustment">Lense Adjustment</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Safety_Warnings">Safety Warnings</a>
        </li>
        <li>
            <a href="/<%= type %>_Cameras/IN-<%= model %>_HD/Warranty">Warranty &amp; Disposal</a>
        </li>
      </ul>
    </div>
</section>
